<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New</title>
</head>
<body>
  <h1>영화 정보 생성</h1>
  <form action="/movies/create/">
  title: <input type="text" name="title"><br>
  title_en: <input type="text" name="title_en"><br>
  audience: <input type="number" name="audience"><br>
  open_date: <input type="date" name="open_date"><br>
  genre: <input type="text" name="genre"><br>
  watch_grade: <input type="text" name="watch_grade"><br>
  score: <input type="number" name="score"><br>
  poster_url: <input type="text" name="poster_url"><br>
  description: <textarea name="description"></textarea><br>
  <button type="submit">영화 정보 생성</button>
  </form>
</body>
</html>